<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>ADMINISTRADOR AFP</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script src="https://kit.fontawesome.com/b6cd2b590e.js" crossorigin="anonymous"></script>
  <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
</head>
<body>
<header>
  <h1><center>Bienvenido Desarrollador</center></h1>
</header>
<main>
  <h3 class="span loader centro">
    <span class="m">L</span>
    <span class="m">I</span>
    <span class="m">S</span>
    <span class="m">T</span>
    <span class="m">A</span>
    <span class="m">D</span>
    <span class="m">O</span>
    <span class="m">&nbsp;</span>
    <span class="m">D</span>
    <span class="m">E</span>
    <span class="m">&nbsp;</span>
    <span class="m">C</span>
    <span class="m">O</span>
    <span class="m">N</span>
    <span class="m">T</span>
    <span class="m">R</span>
    <span class="m">A</span>
    <span class="m">T</span>
    <span class="m">O</span>
    <span class="m">S</span>
  </h3>
  <!-- SPAN lETRAS-->

  <!-- Contenedor -->
  <div class="mask d-flex align-items-center h-100">
    <div class="container">
      <div class="row justify-content-center">
        <br>
        <!-- TABLA -->
        <section class="container w80">
          <br>
          <table class="table table-stripe" >
            <table class="table table-hover" id="contratos">
              <thead>
              <tr class="centro">
                <th>Trabajador</th>
                <th>Horario</th>
                <th>Horas</th>
                <th>Inicio</th>
                <th>Termino</th>
              </tr>
              </thead>
              <tbody>
              <tr  class="centro" th:each="contrato: ${contratos}">
                <td><a th:text="${contrato.trabajadorDTO.nombre}"></a></td>
                <th th:text="${contrato.horarioDTO.horario}"></th>
                <th th:text="${contrato.horarioDTO.horaSemanal}"></th>
                <td><a th:text="${contrato.getInicioContrato()}"></a></td>
                <th th:text="${contrato.getTerminoContrato()}"></th>
              </tr>
              </tbody>
            </table>
          </table>
          <!-- TABLA CLIENTES-->


          <br>
          <!-- BOTONES -->
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearContrato">Crear Contrato</button>
            </div>
            <div class="col-auto">
              <a th:href="@{/devs}" class="btn btn-primary">volver</a>
            </div>
          </div>
          <!-- BOTONES -->
        </section>

        <!-- TABLA -->
      </div>
    </div>
  </div>
  <!-- Contenedor -->

  <!-- Modal Crear Producto-->
  <div class="modal fade" id="crearContrato" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form th:action="@{/devs/contrato/save}" method="post" th:object="${contrato}">
            <h3 class="span loader centro">
              <span class="m">A</span>
              <span class="m">G</span>
              <span class="m">R</span>
              <span class="m">E</span>
              <span class="m">G</span>
              <span class="m">A</span>
              <span class="m">R</span>
              <span class="m">&nbsp;</span>
              <span class="m">C</span>
              <span class="m">O</span>
              <span class="m">N</span>
              <span class="m">T</span>
              <span class="m">R</span>
              <span class="m">A</span>
              <span class="m">T</span>
              <span class="m">O</span>
            </h3>
            <div class="mb-3">
              <input type="hidden" class="form-control" id="idContrato" name="idContrato">
            </div>
            <div class="mb-3">
              <label for="inicioContrato" class="form-label">Inicio Contrato</label>
              <input type="date" class="form-control" id="inicioContrato" name="inicioContrato" placeholder="17-10-1997">
            </div>
            <div class="mb-3">
              <label for="terminoContrato" class="form-label">Termino Contrato</label>
              <input type="date" class="form-control" id="terminoContrato" name="terminoContrato" placeholder="17-10-1997">
            </div>

            <div class="col md-3">
              <label for="idHorario" class="form-label">Horario:</label>
              <select class="form-select" id="idHorario" name="idHorario">
                <option value="0">Elije un Horario</option>
                <option th:each="horario: ${horarios}" th:value="${horario.idHorario}" th:text="${horario.horario}"></option>
              </select>
            </div>
            <div class="col md-3">
              <label for="idTrabajador" class="form-label">Trabajador:</label>
              <select class="form-select" id="idTrabajador" name="idTrabajador">
                <option value="0">Elije un Trabajador</option>
                <option th:each="trabajador: ${trabajadores}" th:value="${trabajador.idTrabajador}" th:text="${trabajador.nombre}"></option>
              </select>
            </div>

            <div class="row top1">
              <div class="col-md centro">
                <small>Falta por terminar</small>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <button type="reset" class="btn btn-secondary">Limpiar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Crear Producto-->
</main>
<!-- Scrípts -->
<script th:inline="javascript">
$(document).ready( function () {
$('#contratos').DataTable();
} );
</script></main>
</body>
</html>