<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head id="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="web oficial de ediControl">
  <meta name="author" content="PinoLabs">
  <title>ediControl.cl</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script src="https://kit.fontawesome.com/b6cd2b590e.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a th:href="@{/}" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">ediControl</span>
      </a>
      <!-- menu -->
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/}">Inicio</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Sobre Nosotros</a>
        <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/logout}">Salir</a>
      </nav>
      <!-- menu -->
    </div>
  </header>
  <main id="container">
    <section class="container" id="Inicio">
      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" th:src="@{/img/logo.png}" alt="" width="180" height="180">
        <h1 class="display-5 fw-bold">Desarrolladores</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Esta vista a sido creada solo para probar nuevas integraciones</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a  th:href="@{/devs/afp}" class="btn btn-primary btn-lg px-4 gap-3">AFP</a>
            <a  th:href="@{/devs/salud}" class="btn btn-primary btn-lg px-4 gap-3">SALUD</a>
            <a  th:href="@{/devs/caja}" class="btn btn-primary btn-lg px-4 gap-3">CAJA</a>
            <a  th:href="@{/devs/contrato}" class="btn btn-primary btn-lg px-4 gap-3">CONTRATOS</a>
            <a  th:href="@{/devs/horario}" class="btn btn-primary btn-lg px-4 gap-3">HORARIOS</a>
            <a  th:href="@{/devs/trabajador}" class="btn btn-primary btn-lg px-4 gap-3">TRABAJADORES</a>
          </div>
        </div>
        <br>
        <small class="centro fa-solid fa-bounce">Selecciona una opcion</small>
      </div>
    </section>
    <section class="container" id="Tareas">
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Tareas</h1>
        <div class="col-lg-6 mx-auto">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <ul class="form-control">
              <li>Tener la primera reunion seria </li>
              <li>Crear y modelar el resto de Entidades</li>
              <li>Modificar y trabajar el inicio de la pagina</li>
              <li>Modificar y trabajar el landing home </li>
              <li>Modificar y mejorar las vistas de las apis</li>
              <li>Documentar el funcionamiento de las api</li>
              <li>Desarrollar funciones con js para el api</li>
              <li>Definir roles y puestos de trabajo</li>
              <li>Establecer fechas y limites para entregas</li>
              <li>Crear imagenes coorporativas</li>
              <li>Crear y diseñar terminos de contrato</li>
              <li>Diseñar y crear sobre nosotros</li>
              <li>Diseñar y crear textos de contacto</li><br>
              <div class="col">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearParticipante">Deseo Participar</button>
              </div>
            </ul>
          </div>
        </div>
        <br>
      </div>
    </section>
  </main>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <div class="centro">
          <img class="mb-2" th:src="@{/img/logo.png}" alt="" width="50" height="50">
          <small class="d-block mb-3 text-muted">Creado por PinoLabs&copy; 2022</small>
        </div>
      </div>

      <div class="col-12 col-md">
        <div class="centro">
          <h5>Acerca De</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Trabaja Con Nosotros</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terminos y Privacidad</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Contactanos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

<div class="modal fade" id="crearParticipante" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form th:action="@{/devs/saveParticipante}" method="post" th:object="${participante}">
          <h3 class="span loader centro">
            <span class="m">A</span>
            <span class="m">G</span>
            <span class="m">R</span>
            <span class="m">E</span>
            <span class="m">G</span>
            <span class="m">A</span>
            <span class="m">R</span>
            <span class="m"><br></span>
            <span class="m">P</span>
            <span class="m">A</span>
            <span class="m">R</span>
            <span class="m">T</span>
            <span class="m">I</span>
            <span class="m">C</span>
            <span class="m">I</span>
            <span class="m">P</span>
            <span class="m">A</span>
            <span class="m">N</span>
            <span class="m">T</span>
            <span class="m">E</span>
          </h3>
          <div class="mb-3">
            <input type="hidden" class="form-control" id="idParticipante" name="idParticipante">
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Juan" required>
          </div>
          <div class="mb-3">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="correo" name="correo" placeholder="Juanito@pinoalbs.cl" required>
          </div>
          <div class="mb-3">
            <label for="uso" class="form-label">Mensaje</label>
            <input type="text" class="form-control" id="uso" name="uso" placeholder="Deseo Participar En El Front-End" required>
          </div>
          <div class="mb-3">
            <div class="centro">
              <small>Una vez que envies tus datos deberas esperar que un administrador te contacte para asignar tus tareas </small>
            </div>
          </div>
          <div class="row top1">
            <div class="col-md centro">
              <button type="submit" class="btn btn-primary">Enviar</button>
              <button type="reset" class="btn btn-secondary">Limpiar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


</body>
</html>