<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head id="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="web pinolabs">
    <meta name="author" content="PinoLabs">
    <title>KevinStore.cl</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://kit.fontawesome.com/b6cd2b590e.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="container py-3">
    <header>
        <!-- titulo -->
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">AdminControl</span>
            </a>
            <!-- menu -->
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Inicio</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Servicios</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Sobre Nosotros</a>
            </nav>
            <!-- menu -->
        </div>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Servicio</h1>
            <p class="fs-5 text-muted">Servicios creados por profesionales para todo tipo de requerimiento de nuestros clientes!</p>
        </div>
        <!-- titulo -->
    </header>

    <main>
        <!-- tarjetas -->
        <div class="card-deck">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Administrador <br> de Trabajadores</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$25.000</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Creacion y Administracion de Trabajadores</li>
                            <li>Creacion y Administracion de Liquidaciones</li>
                            <li>Creacion y Administracion de Contratos</li>
                            <li>Centro de Ayuda Completo Remoto</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Empezar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Administrador <br> de Edificios</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$15.000</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Creacion y Administracion de Departamentos</li>
                            <li>Espacios limitados al tamaño de su edificio</li>
                            <li>Soporte Completo Remoto</li>
                            <li>Centro de ayuda gratuito</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Empezar</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- tarjetas -->
    </main>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" th:src="@{/img/logo.png}" alt="" width="50" height="50">
                <small class="d-block mb-3 text-muted">Creado por PinoLabs&copy; 2022</small>
            </div>
            <div class="col-6 col-md">
            </div>
            <div class="col-6 col-md">
            </div>
            <div class="col-6 col-md">
                <h5>Acerca De</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Trabaja Con Nosotros</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terminos y Privacidad</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Contactanos</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>


</body>
</html>